/** banner-section **/

.banner-section {
  position: relative;
  overflow: hidden;
}

.banner-carousel .slide-item {
  position: relative;
  padding: 166px 0px;
}

.banner-carousel .content-box {
  position: relative;
  max-width: 630px;
  width: 100%;
  z-index: 5;
}

.banner-carousel .slide-item:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #000000;
  top: 0px;
  right: 0px;
  opacity: 0.7;
  z-index: 1;
}

.banner-carousel .content-box h2 {
  font-size: 35px;
  line-height: 38px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 25px;
}

.banner-section .banner-carousel .owl-nav {
  position: absolute;
  left: 0px;
  top: 45%;
  width: 100%;
}

/** banner-style-two **/

.banner-style-two .banner-carousel .content-box {
  position: relative;
  max-width: 750px;
  width: 100%;
  margin: 0 auto;
  z-index: 5;
}

.banner-style-two .banner-carousel .content-box h2 {
  opacity: 0;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -o-transform: translateY(10px);
  transform: translateY(10px);
  -webkit-transition: all 1000ms ease;
  -moz-transition: all 1000ms ease;
  -ms-transition: all 1000ms ease;
  -o-transition: all 1000ms ease;
  transition: all 1000ms ease;
}

.banner-style-two .banner-carousel .swiper-slide-active .content-box h2 {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 1000ms;
  -moz-transition-delay: 1000ms;
  -ms-transition-delay: 1000ms;
  -o-transition-delay: 1000ms;
  transition-delay: 1000ms;
}

.banner-style-two .banner-carousel .content-box .btn-box {
  opacity: 0;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -o-transform: translateY(10px);
  transform: translateY(10px);
  -webkit-transition: all 1000ms ease;
  -moz-transition: all 1000ms ease;
  -ms-transition: all 1000ms ease;
  -o-transition: all 1000ms ease;
  transition: all 1000ms ease;
}

.banner-style-two .banner-carousel .swiper-slide-active .content-box .btn-box {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 1000ms;
  -moz-transition-delay: 1000ms;
  -ms-transition-delay: 1000ms;
  -o-transition-delay: 1000ms;
  transition-delay: 1000ms;
}

.banner-style-two .owl-nav {
  position: absolute;
  left: 0px;
  top: 50%;
  width: 100%;
  margin-top: -35px;
  z-index: 9;
}

.banner-style-two.alternat-2 {
  position: relative;
  overflow: hidden;
  background-image: url(../../images/banner/autonivelante_banner_img.png) !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-style-two.alternat-2::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.864));
}

.banner-style-two.alternat-2 .banner-carousel .slide-item:before {
  display: none;
}

.banner-style-two.alternat-2 .banner-carousel .slide-item {
  height: 100%;
}

.banner-style-two.alternat-2 .banner-carousel .content-box {
  margin-left: 12rem;
}

.banner-style-two.alternat-2 .pattern-layer .pattern-1 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 707px;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.banner-style-two.alternat-2 .pattern-layer .pattern-2 {
  position: absolute;
  left: 50%;
  top: 0px;
  width: 738px;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0;
  transform: scaleX(0);
  transition: all 1000ms ease;
}

.banner-style-two.alternat-2 .swiper-slide-active .pattern-layer .pattern-2 {
  opacity: 1;
  transform: scaleX(1);
}

.banner-style-two.alternat-2 .banner-image {
  position: absolute;
  bottom: 0;
  opacity: 0;
  transition: all 1000ms ease;
}

.banner-style-two.alternat-2 .swiper-slide-active .banner-image {
  height: 100%;
  bottom: 0px;
  opacity: 0.7;
}

.banner-style-two.alternat-2 .owl-dots {
  position: absolute;
  top: 45%;
  right: 70px;
}

.banner-style-two.alternat-2 .owl-theme .owl-dots .owl-dot {
  display: block;
  height: 6px;
  margin: 28px 0px;
}

.banner-style-two.alternat-2 .owl-theme .owl-dots .owl-dot span {
  position: relative;
  display: inline-block;
  width: 6px;
  height: 6px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  margin: 0px 0px;
  transition: all 500ms ease;
}

.banner-style-two.alternat-2 .owl-theme .owl-dots .owl-dot span:before {
  position: absolute;
  content: "";
  width: 22px;
  height: 22px;
  line-height: 22px;
  left: -8px;
  top: -8px;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.3);
  transition: all 500ms ease;
}


