.cart-container {
  width: 100vw;
  padding: 0 1.5rem;
}
.cart-section {
  padding: 2rem 0;
  margin: 0 0 5rem 0;
}

.cart-section .table-outer {
  overflow: hidden;
  position: relative;
  width: 100vw;
  border: #6a6a6a2d solid 2px;
  border-radius: 15px 15px 0 0;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.083) 0px 15px 12px;
}

.cart-section .cart-table {
  width: 100%;
  margin-bottom: 1rem;
}

.cart-section .cart-table thead tr th {
  position: relative;
  color: #222;
  font-size: 0.8rem;
  line-height: 28px;
  font-family: var(--jost);
  font-weight: 400;
  text-align: start;
}

.cart-section .cart-table tbody tr {
  border-bottom: 1px solid #bbbbbb9c;
}

.cart-section .cart-table .cart-header {
  background-color: #015c9320;
  border-radius: 5px 5px 0 0;
}

.cart-section .cart-table tbody tr td.prod-column {
  padding: 1rem 0;
}

.cart-section .cart-table tbody tr .prod-column .column-box {
  min-height: 100px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: relative;
  padding: 1rem;
}

.cart-section .cart-table tbody tr td.price {
  text-align: center;
  align-content: center;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 500;
  padding: 1rem 0;
  color: #222;
}

.cart-section .cart-table tbody tr .sub-total {
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  padding: 27px 50px 27px 48px;
  text-align: center;
  color: #222;
}

.cart-section .cart-table tbody tr td.qty {
  align-content: center;
  align-items: center;
  position: relative;
  padding-right: 2rem;
}

.cart-section
  .cart-table
  tbody
  tr
  td.qty
  .item-quantity
  .bootstrap-touchspin
  .input-group-btn-vertical
  i {
  left: 12px;
}
.product__empty-section {
  padding: 1rem;
  width: 100%;
}

.cart-section .cart-table tbody tr td.qty input.quantity-spinner {
  line-height: 48px;
  height: 46px;
  width: 43px !important;
  padding: 0px !important;
  box-shadow: none !important;
  border: none;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: #101010;
  background: transparent;
}

.cart-section
  .bootstrap-touchspin
  .input-group-btn-vertical
  > .btn.bootstrap-touchspin-down {
  position: absolute;
  height: 48px;
  width: 40px;
  background: transparent;
  padding: 0px 0px;
  left: -35px;
  top: -47px;
  border-right: none;
  border-radius: 0px;
}

.cart-section
  .bootstrap-touchspin
  .input-group-btn-vertical
  > .btn.bootstrap-touchspin-up {
  position: absolute;
  height: 48px;
  width: 40px;
  background: transparent;
  padding: 0px 0px;
  right: -45px;
  top: -47px;
  border-left: none;
  margin-top: 0px;
  border-radius: 0px;
}

.cart-section .bootstrap-touchspin .glyphicon-chevron-up:before {
  content: "\f067";
  font-size: 16px;
  font-style: normal;
  color: #000;
  font-family: "Font Awesome 5 Pro";
}

.cart-section .bootstrap-touchspin .glyphicon-chevron-down:before {
  content: "\f068";
  font-size: 16px;
  font-style: normal;
  color: #000;
  font-family: "Font Awesome 5 Pro";
}

.cart-section .bootstrap-touchspin .input-group-btn-vertical {
  position: absolute;
  width: 100%;
}

.cart-section .bootstrap-touchspin .input-group-btn-vertical i {
  top: 15px;
  left: 15px;
  font-size: inherit !important;
}

.cart-section
  .bootstrap-touchspin
  .input-group-btn-vertical
  .bootstrap-touchspin-down {
  margin-top: 0px;
}

.cart-section .item-quantity .input-group {
  position: relative;
  display: table;
  border-collapse: separate;
  max-width: 50px;
  width: 100%;
  height: 53px;
}

.cart-section .cart-table tbody tr .prod-column .column-box .prod-title h4 {
  position: relative;
  display: inline-block;
  text-align: start;
  font-size: clamp(0.70rem, 1rem + 3.7vw, 1rem);
  line-height: 20px;
  color: #222;
  font-weight: 500;
}
.cart-section .othre-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0px;
  margin-bottom: 1rem;
}

.cart-section .othre-content .theme-btn-two {
  padding: 12px 32px;
  transition: all 500ms ease;
}

.cart-section .cart-total .total-cart-box {
  position: relative;
  border-radius: 10px;
  border: #67676743 solid 2px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.077) 0px 15px 12px;
}

.cart-section .cart-total .total-cart-box .list li {
  position: relative;
  display: block;
  font-size: 20px;
  line-height: 28px;
  font-family: var(--jost);
  font-weight: 500;
  color: #222;
  padding: 1rem;
  border-top: 1px solid #e5e5e5;
}

.cart-section .cart-total .total-cart-box .list li span {
  font-family: var(--inter);
  float: right;
  font-weight: 500;
  font-size: 18px;
}

.cart-section .cart-total .total-cart-box .list li:last-child span {
  font-size: 20px;
}

.cart-section .cart-total .total-cart-box .theme-btn-one {
  display: block;
  padding: 13px 35px;
  width: 100%;
  margin-top: 5px;
  box-shadow: none;
}

/*Responsive Section */
@media only screen and (min-width: 992px) {
  .cart-section .cart-table tbody tr .prod-column .column-box {
    min-height: 100px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    position: relative;
    padding: 1rem;
  }
  .cart-section .cart-table thead tr th {
    text-align: center;
  }
}

@media only screen and (min-width: 767px) {
  .cart-section .othre-content .coupon-box {
    flex-direction: column;
    align-items: flex-start;
    max-width: 100%;
  }
  .cart-section .cart-table thead tr th {
    position: relative;
    min-width: 110px;
    padding: 29px 15px 27px 0px;
    color: #222;
    font-size: 20px;
    line-height: 28px;
    font-family: var(--jost);
    font-weight: 500;
    text-align: center;
  }
  .cart-section .cart-table .cart-header {
    background-color: #015c9320;
    border-radius: 5px 5px 0 0;
  }
  .cart-section .cart-table tbody tr .prod-column .column-box {
    min-height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    position: relative;
    padding: 1rem;
  }

  .cart-section .cart-table tbody tr td.price {
    text-align: center;
    align-content: center;
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    padding-right: 1rem;
    color: #222;
  }
  .cart-section .cart-table tbody tr td.qty {
    align-content: center;
    align-items: center;
    position: relative;
  }
}
