.feature-section {
  position: relative;
}

.feature-block-one .inner-box {
  position: relative;
  display: block;
  z-index: 1;
  padding: 0px 160px;
}

.feature-block-one .inner-box .image-box {
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 5px;
  background: #241e2f;
}

.feature-block-one .inner-box .image-box img {
  position: relative;
  z-index: 3;
  width: 100%;
  max-width: none;
  height: auto;
  transition: all 500ms ease;
}
.feature-block-one .inner-box .image-box button {
  position: absolute;
  z-index: 9;
  top: 6.2em;
  left: 4em;
  font-size: smaller;
}

.feature-section .pattern-layer .pattern-1 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 669px;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.feature-section .pattern-layer .pattern-2 {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 669px;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
