.funfact-section {
  position: relative;
}

.funfact-section .inner-container {
  position: relative;
  display: block;
  background: #241e2f;
  padding: 65px 60px 60px 60px;
  box-shadow: 0px 0px 120px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: -110px;
  z-index: 1;
}

.funfact-block-one .inner-box {
  position: relative;
  display: block;
}

.funfact-block-one .inner-box .count-outer {
  position: relative;
  display: block;
  font-size: 50px;
  line-height: 50px;
  font-family: var(--jost);
  font-weight: 600;
  margin-bottom: 20px;
}

.funfact-block-one .inner-box p {
  display: block;
  font-size: 18px;
  line-height: 26px;
  color: #fff;
  font-weight: 600;
}

.funfact-section .shape .shape-1 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 480px;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.funfact-section .shape .shape-2 {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 488px;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Banner Productos */

/* position: absolute;
width: 1140px;
height: 188px;
left: 293px;
top: 786px; */

/* Img bg */

/* position: absolute;
width: 1140px;
height: 188px;
left: 293px;
top: 786px; */

/* Rectangle 13 */

/* position: absolute;
width: 1140px;
height: 188px;
left: 293px;
top: 786px;

background: #d9d9d9;
border-radius: 4px; */

/* PHOTO-2022-11-17-10-14-59(2) 1 */

/* position: absolute;
width: 900px;
height: 675px;
left: 113px;
top: 658px;

background: url(PHOTO-2022-11-17-10-14-59(2).jpg); */

/* Rectangle 18 */

/* position: absolute;
width: 670px;
height: 213px;
left: 280px;
top: 772px;

background: linear-gradient(
  270deg,
  rgba(217, 217, 217, 0) -71.72%,
  rgba(0, 0, 0, 0.47) 100%
); */

/* Circulo naranja */

/* position: absolute;
width: 1140px;
height: 188px;
left: 293px;
top: 786px; */

/* Rectangle 17 */

/* position: absolute;
width: 1140px;
height: 188px;
left: 293px;
top: 786px;

background: #d9d9d9;
border-radius: 4px; */

/* Rectangle 16 */

/* position: absolute;
width: 572px;
height: 572px;
left: 901px;
top: 594px;

background: #015c93;
border-radius: 300px; */

/* Conoce nuestros productos */

/* position: absolute;
width: 546px;
height: 43px;
left: 357px;
top: 823px;

font-family: "Roboto";
font-style: normal;
font-weight: 800;
font-size: 35px;
line-height: 41px;
display: flex;
align-items: center;
letter-spacing: 0.05em;

color: #ffffff;

text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.33); */

/* boton */

/* position: absolute;
width: 198px;
height: 55px;
left: 357px;
top: 882px; */

/* Rectangle 15 */

/* box-sizing: border-box;

position: absolute;
width: 198px;
height: 55px;
left: 357px;
top: 882px;

border: 2px solid #ffffff;
border-radius: 4px; */

/* Ver productos */

/* position: absolute;
width: 116px;
height: 55px;
left: 386px;
top: 882px;

font-family: "Roboto";
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 18px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.05em;

color: #ffffff; */

/* arrow-forward-outline 1 */

/* position: absolute;
width: 24px;
height: 24px;
left: 502px;
top: 897px; */

/* Layer 2 */

/* position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%; */

/* arrow-forward */

/* position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%; */

/* Vector */

/* position: absolute;
left: 0%;
right: 0%;
top: 100%;
bottom: -100%;

background: #ffffff;
opacity: 0;
transform: rotate(-90deg); */

/* Vector */

/* position: absolute;
left: 16.67%;
right: 16.67%;
top: 20.83%;
bottom: 20.83%;

background: #ffffff; */

/* Group 50 */

/* position: absolute;
width: 161.03px;
height: 67.68px;
left: 978.73px;
top: 845.66px; */

/* Mask group */

/* position: absolute;
width: 161.03px;
height: 67.68px;
left: 978.73px;
top: 845.66px; */

/* Ellipse 1 */

/* position: absolute;
width: 161.03px;
height: 67.68px;
left: 978.73px;
top: 845.66px;

background: #d9d9d9; */

/* image 1 */

/* position: absolute;
width: 175.04px;
height: 175.04px;
left: 972.12px;
top: 791.51px;

background: url(image.png); */

/* image 2 */

/* position: absolute;
width: 192px;
height: 62px;
left: 1170px;
top: 849px;

background: url(image.png); */
