.maincard__section {
  position: relative;
  margin-top: 9rem;
  height: 100%;
}

.Breadcrumb_breadcrumb__2WlKU {
  font-size: 0.7rem;
}

.detailproducts__card-box {
  margin-top: 2rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.detailproducts__card-maincontent {
  background-color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap-reverse;
  flex-grow: calc(var(--flexGrow, 1));
  max-width: 54ch;
  text-align: left;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.184) 0px 7px 29px 0px;
  border-radius: 5px;
}
.detailmain__card {
  border-radius: 0;
  border: none;
  height: 100%;
  width: 100%;
  padding: 1.5rem;
}
.detailmain__img-box {
  place-items: center;
  border-radius: 0;
  border: none;
  height: 100%;
  width: 100%;
  padding: 0;

  .card-img-top {
    margin-top: 5rem;
    width: 30rem;
    height: 33rem;
    object-fit: contain;
  }
}
.detailcard-body {
  padding: 0;
  width: 100%;

  ul {
    list-style: none;
    padding: 0;
    margin-left: 1rem;

    li {
      font-size: 0.8rem;
    }
  }
}
.detailproductcard__title {
  font-size: 1.75rem;
}
.detailproductcard-subtitle {
  font-size: 1rem;
}

.list__item {
  height: 20px;
}
.list__item p {
  font-size: 0.5rem;
}
.detailcard-price {
  margin-top: 2rem;
  font-size: 20px;
  margin-bottom: 30px;
}

.exit__button-card {
  position: relative;
  float: right;
  top: -390px;
  left: 140px;
}

.products__card-section {
  height: 100%;
}
.productcard__text {
  padding: 2rem;
  text-align: left;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  grid-area: text;
}
.product__card-title {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.product__card-title:hover .productcard__bar {
  width: 20%;
}
.productcard__title {
  font-size: 1.75rem;
}
.productcard__bar {
  width: 80px;
  height: 7px;
  margin: 10px 0;
  border-radius: 2px;
  background-color: #015c93;
  transition: width 0.4s ease;
}

/* MainCard Styles */

/* products__card-box comes from productsCard section */
.products__card-box {
  height: 100%;
}

.products__card-maincontent {
  .main__card {
    height: 100%;
    max-width: 17rem;
    width: 100%;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/login-huellitas.appspot.com/o/card-backgroun-shape.png?alt=media&token=224caadb-c4fa-47cd-9421-165c92b61671);
    background-repeat: no-repeat;
    background-size: 17rem;
    background-position: top;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-style: none;
    box-shadow: rgba(0, 0, 0, 0.248) 0px 5px 15px;

    .main__card-img-container {
      padding-top: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      overflow: hidden;

      .card-img-top {
        width: 85%;
        margin: 0;
        object-fit: contain;
      }
    }

    .card-body {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding: 0 3rem;
      margin-top: 0.8rem;
      max-height: 9rem;

      .card-title {
        text-align: center;
        font-size: 1.4rem;
        margin-bottom: 1rem;
        padding: 0;
      }
      .card-price {
        font-size: 1.5rem;
      }
    }
    .buttons__card {
      margin: 1rem 0;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.8rem;
      width: 100%;
      padding: 0 1rem;

      a {
        width: 100%;
        text-decoration: none;
        border-radius: 5px;
        border-width: 2.5px;
        font-size: 1rem;

        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
      }
    }
  }
}

.carousel__page {
  display: none;
}
.grey__square {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 50%;
  background-color: rgba(100, 100, 111, 0.062);
}

.carousel__main-section {
  height: 100%;
  padding-top: 4rem;
}
.carousel__container {
  height: 100%;
  background-color: transparent;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
}

@media screen and (min-width: 992px) {
  /* detail card section product 1 */
  .detailproducts__card-maincontent {
    max-width: 60rem;
    overflow: hidden;
  }
}
@media screen and (min-width: 769px) {
  /* detail card section product 1 */
  .products__card-maincontent {
    .main__card {
      max-width: 22rem;
      background-size: 23rem;

      .main__card-img-container {
        .card-img-top {
          width: 75%;
        }
      }

      .card-body {
        .card-title {
          font-size: 1.6rem;
          margin-bottom: 2rem;
        }
        .card-price {
          font-size: 2rem;
        }
      }

      .buttons__card {
        width: 90%;
        top: -350px;
        left: 100px;
        padding: 0.5rem 2rem;

        a {
          width: 100%;
          text-decoration: none;
          border-radius: 5px;
          border-width: 2.5px;

          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          align-items: center;
        }
      }
    }
  }
  .maincard__section {
    height: 100%;
    margin-bottom: 5rem;
    width: 100vw;
  }
  .Breadcrumb_breadcrumb__2WlKU {
    font-size: 100%;
  }

  .detailproducts__card-maincontent {
    display: grid;
    gap: 0;
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    height: 100%;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
  }

  .detailmain__card {
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 2rem 0;

    .detailcard-body {
      display: flex;
      flex-direction: column;
      padding: 3rem 6rem 2rem 1rem;
      width: 100%;

      h4 {
        font-size: 1.7rem;
      }
      h5 {
        font-size: 1.1rem;
      }
      p {
        font-size: 0.9rem;
      }
    }
  }
  .products__card-maincontent {
    height: 85vh;
  }

  .list__item {
    height: 18px;
  }
  .detailcard-price {
    margin-top: 2rem;
    font-size: 25px;
    margin-bottom: 30px;
  }

  .exit__button-card {
    position: relative;
  }

  .carousel__page {
    position: relative;
    height: 100%;
    margin-top: 5rem;
    padding-top: 1rem;
  }
}
