.service-block-one .inner-box {
  position: relative;
  display: block;
  padding: 40px 55px 34px 55px;
  margin-bottom: 30px;
}

.service-block-one .inner-box .icon-box {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  font-size: 40px;
  color: #fff;
  border-radius: 50%;
  margin-bottom: 26px;
}

.service-block-one .inner-box h3 {
  display: block;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  margin-bottom: 12px;
}

.service-block-one .inner-box .static-content h3 a {
  color: #222;
}

.service-block-one .inner-box .overlay-content h3 a {
  color: #fff;
}

.service-block-one .inner-box h3 a:hover {
  text-decoration: underline;
}

.service-block-one .inner-box .overlay-content p {
  color: #fff;
  margin-bottom: 25px;
}

.service-block-one .inner-box .shape {
  position: absolute;
  left: -80px;
  top: -100px;
  width: 570px;
  height: 479px;
  background-repeat: no-repeat;
}

.service-block-one .inner-box .overlay-content {
  position: absolute;
  left: 0px;
  top: -40px;
  width: 100%;
  height: 100%;
  padding: 90px 55px 34px 55px;
  z-index: 1;
  opacity: 0;
  transition: all 500ms ease;
}

.service-block-one .inner-box .overlay-content:hover {
  opacity: 1;
}

.service-block-one .inner-box .overlay-content .shape {
  left: 0px;
  top: 0px !important;
  width: 410px;
  height: 319px;
}

.service-block-one .inner-box .theme-btn-one {
  padding: 13px 40px;
}

.service-block-one .inner-box .theme-btn-one:before {
  background: #fff;
}

.service-block-one .inner-box .theme-btn-one:hover {
  color: #241e2f !important;
}

.service-block:nth-child(2) .service-block-one .inner-box,
.service-block:nth-child(5) .service-block-one .inner-box {
  background: #fff;
  box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.service-block:nth-child(2) .service-block-one .inner-box .overlay-content,
.service-block:nth-child(5) .service-block-one .inner-box .overlay-content {
  background: #241e2f;
  border-radius: 10px;
  top: 0px;
  padding-top: 50px;
}

.service-block:nth-child(4) .service-block-one .shape,
.service-block:nth-child(6) .service-block-one .shape {
  top: -60px;
}

.service-block:nth-child(4)
  .service-block-one
  .inner-box
  .overlay-content
  .shape,
.service-block:nth-child(6)
  .service-block-one
  .inner-box
  .overlay-content
  .shape {
  top: 40px !important;
}

.service-section .pattern-layer {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.4;
}

/** service-style-two **/

.service-style-two {
  padding: 143px 0px 120px 0px;
}

.service-block-two .inner-box {
  position: relative;
  display: block;
  margin-bottom: 30px;
}

.service-block-two .inner-box .image-box {
  position: relative;
  display: block;
  overflow: hidden;
  background: #241e2f;
  box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.service-block-two .inner-box .image-box img {
  width: 100%;
  transition: all 500ms ease;
}

.service-block-two .inner-box:hover .image-box img {
  opacity: 0.3;
  transform: scale(1.05);
}

.service-block-two .inner-box .lower-content {
  position: relative;
  margin-left: 90px;
}

.service-block-two .inner-box .lower-content .inner {
  position: relative;
  display: block;
  background: #fff;
  padding: 44px 30px;
  margin-top: -70px;
  z-index: 1;
  box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.05);
  border-radius: 20px 0px 20px 20px;
  transition: all 500ms ease;
}

.service-block-two .inner-box:hover .lower-content .inner {
  padding-bottom: 124px;
  margin-top: -150px;
}

.service-block-two .inner-box .lower-content .icon-box {
  position: absolute;
  display: inline-block;
  left: -40px;
  top: -40px;
  width: 80px;
  height: 80px;
  line-height: 80px;
  font-size: 40px;
  color: #fff;
  text-align: center;
  border-radius: 50%;
}

.service-block-two .inner-box .lower-content h3 {
  position: relative;
  display: block;
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  margin-bottom: 12px;
}

.service-block-two .inner-box .lower-content h3 a {
  display: inline-block;
  color: #222222;
}

.service-block-two .inner-box .lower-content .theme-btn-one {
  padding: 13px 34px;
}

.service-block-two .inner-box .lower-content .btn-box {
  position: absolute;
  left: 30px;
  bottom: 0px;
  opacity: 0;
  transition: all 500ms ease;
}

.service-block-two .inner-box:hover .lower-content .btn-box {
  bottom: 50px;
  opacity: 1;
}

/** service-style-three **/

.service-style-three {
  padding: 143px 0px 390px 0px;
}

.service-block-three .inner-box {
  position: relative;
  display: block;
  padding-left: 110px;
  margin-bottom: 60px;
}

.service-block-three .inner-box .icon-box {
  position: absolute;
  display: inline-block;
  left: 0px;
  top: 4px;
  width: 80px;
  height: 80px;
  line-height: 80px;
  font-size: 40px;
  text-align: center;
  background: #332e3e;
  border-radius: 50%;
  z-index: 1;
  transition: all 500ms ease;
}

.service-block-three .inner-box .icon-box:before {
  position: absolute;
  content: "";
  background: #fff;
  width: 80px;
  height: 80px;
  left: 0px;
  top: 0px;
  border-radius: 50%;
  transform: scale(0, 0);
  z-index: -1;
  transition: all 500ms ease;
}

.service-block-three .inner-box:hover .icon-box:before {
  transform: scale(1, 1);
}

.service-block-three .inner-box h3 {
  display: block;
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  margin-bottom: 12px;
}

.service-block-three .inner-box h3 a {
  display: inline-block;
  color: #fff;
}

.service-block-three .inner-box p {
  color: rgba(255, 255, 255, 0.7);
}

.service-style-three .more-btn .theme-btn-one:before {
  background: #fff;
}

.service-style-three .pattern-layer {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: calc(100% - 105px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.service-style-three .pattern-layer-2 {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 101px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

/* This pen */

.dark {
  background: #110f16;
}

.light {
  background: #f3f5f7;
}

a,
a:hover {
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

/* Cards */
.postcard {
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-areas:
    "image"
    "text";
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 0 2rem 0;
  max-width: 1100px;
  height: 55rem;

  color: #ffffff;
  background-color: #015c93;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  border-radius: 5px;

  &.dark {
    background-color: #18151f;
  }
  &.light {
    background-color: #e1e5ea;
  }

  .t-dark {
    color: #18151f;
  }

  a {
    color: inherit;
  }

  h1,
  .h1 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
  }

  .small {
    font-size: 80%;
  }

  .postcard__title {
    font-size: 1.75rem;
  }

  .postcard__img {
    height: 25rem;
    width: 100%;
    object-fit: cover;
    position: relative;
  }

  .postcard__img_link {
    display: contents;
    grid-area: image;
  }

  .postcard__bar {
    width: 50px;
    height: 10px;
    margin: 10px 0;
    border-radius: 2px;
    background-color: #f3f3f3;
    transition: width 0.2s ease;
  }

  .postcard__text {
    padding: 2rem;
    text-align: left;
    max-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    grid-area: text;
  }

  .postcard__preview-txt {
    overflow: hidden;
	font-size: 0.7rem;
    text-overflow: ellipsis;
    text-align: justify;
	margin-bottom: 1.8rem;
  }

  .postcard__content {
	display: flex;
	flex-grow: 1;
	justify-content: flex-start;
	gap: 11px;
	align-items: center;
  }
  .postcard__content p {
	font-size: small;
  }

  .postcard__tagbox {
    display: flex;
    flex-flow: row wrap;
    font-size: 14px;
    margin: 20px 0 0 0;
    padding: 0;
    justify-content: center;

    .tag__item {
      display: inline-block;
      background: rgba(83, 83, 83, 0.4);
      border-radius: 3px;
      padding: 2.5px 10px;
      margin: 0 5px 5px 0;
      cursor: default;
      user-select: none;
      transition: background-color 0.3s;

      &:hover {
        background: rgba(83, 83, 83, 0.8);
      }
    }
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(-70deg, #4242429a, transparent 50%);
    opacity: 1;
    border-radius: 10px;
  }

  &:hover .postcard__bar {
    width: 100px;
  }
}

@media screen and (min-width: 769px) {
  .postcard {
    display: grid;
    grid-auto-columns: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "text image";
    grid-template-columns: min-content max-content / 1fr;
    height: 647px;

    .postcard__title {
      font-size: 2rem;
    }

    .postcard__tagbox {
      justify-content: start;
    }

    .postcard__img {
		height: 100%;
      transition: transform 0.3s ease;
    }

    .postcard__text {
      padding: 3rem;
      width: 100%;
    }

    .media.postcard__text:before {
      content: "";
      position: absolute;
      display: block;
      background: #18151f;
      top: -20%;
      height: 130%;
      width: 55px;
    }

    &:hover .postcard__img {
      transform: scale(1.1);
    }

    &:nth-child(2n + 1) {
      flex-direction: row;
    }

    &:nth-child(2n + 0) {
      flex-direction: row-reverse;
    }

    &:nth-child(2n + 1) .postcard__text::before {
      right: -12px !important;
      transform: rotate(4deg);
    }

    &:nth-child(2n + 0) .postcard__text::before {
      right: -12px !important;
      transform: rotate(-4deg);
    }
  }
}
@media screen and (min-width: 1024px) {
  .postcard__text {
    padding: 2rem 3.5rem;
  }

  .postcard__text:before {
    content: "";
    position: absolute;
    display: block;

    top: -20%;
    height: 130%;
    width: 55px;
  }

  .postcard.dark {
    .postcard__text:before {
      background: #18151f;
    }
  }
  .postcard.light {
    .postcard__text:before {
      background: #e1e5ea;
    }
  }
}
