/* Cards */

.postcard {
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-areas:
    "image"
    "text";
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0;
  height: 100%;

  color: #ffffff;
  background-color: #015c93;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  border-radius: 5px;

  &.light {
    background-color: #e1e5ea;
  }

  .t-dark {
    color: #18151f;
  }

  a {
    color: inherit;
  }

  h1,
  .h1 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
  }

  .small {
    font-size: 80%;
  }
  
  /*Service image carousel */
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
  }
  

  .postcard__title {
    font-size: 1.75rem;
    padding: 1rem;
  }

  .postcard__img {
    background-color: #110f16;
    height: 30rem;
    width: 100%;
    object-fit: cover;
    position: relative;
  }

  .postcard__img_link {
    display: contents;
    grid-area: image;
  }

  .postcard__bar {
    width: 3.125rem;
    height: 1.25rem;
    margin: 0.6rem 0 1rem 1rem;
    border-radius: 2px;
    background-color: #f3f3f3;
    transition: width 0.2s ease;
  }

  .postcard__text {
    padding: 1rem;
    text-align: left;
    max-height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    grid-area: text;
  }

  .postcard__preview-txt {
    overflow: hidden;
    font-size: 0.6rem;
    text-overflow: ellipsis;
    text-align: justify;
    padding: 1rem;
    height: 100%;
  }

  .postcard__content {
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    gap: 11px;
    align-items: center;
  }
  .postcard__content p {
    font-size: 0.6rem;
  }

  .buttons__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    .service-button {
      width: 20rem;
      height: 3rem;
    }
  }

  .postcard__tagbox {
    display: flex;
    flex-flow: row wrap;
    font-size: 14px;
    margin: 20px 0 0 0;
    padding: 0;
    justify-content: center;

    .tag__item {
      display: inline-block;
      background: rgba(83, 83, 83, 0.4);
      border-radius: 3px;
      padding: 2.5px 10px;
      margin: 0 5px 5px 0;
      cursor: default;
      user-select: none;
      transition: background-color 0.3s;

      &:hover {
        background: rgba(83, 83, 83, 0.8);
      }
    }
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(-70deg, #4242429a, transparent 50%);
    opacity: 1;
    border-radius: 10px;
  }

  &:hover .postcard__bar {
    width: 100px;
  }
}

@media screen and (min-width: 769px) {
  .postcard {
    display: grid;
    grid-auto-columns: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "text image";
    height: 100%;
    max-width: 70vw;
    width: 100%;

    .postcard__title {
      font-size: 2.2rem;
    }

    .postcard__tagbox {
      justify-content: flex-start;
    }

    .postcard__img {
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: bottom;
      transition: transform 0.3s ease;
      border-radius: 0%;
    }

    .postcard__text {
      padding: 3rem 2rem;
      width: 100%;
    }
    .postcard__preview-txt {
      font-size: 0.74rem;
      text-overflow: ellipsis;
      text-align: justify;
      padding-bottom: 0;
      margin-bottom: 1rem;
      height: 100%;
    }

    .buttons__container {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 2rem;
      .service-button {
        width: 100%;
        width: 11rem;
        height: 3rem;
      }
    }

    .media.postcard__text:before {
      content: "";
      position: absolute;
      display: block;
      background: #18151f;
      top: -20%;
      height: 130%;
      width: 55px;
    }

    &:nth-child(2n + 1) {
      flex-direction: row;
    }

    &:nth-child(2n + 0) {
      flex-direction: row-reverse;
    }

    &:nth-child(2n + 1) .postcard__text::before {
      right: -12px !important;
      transform: rotate(4deg);
    }

    &:nth-child(2n + 0) .postcard__text::before {
      right: -12px !important;
      transform: rotate(-4deg);
    }
  }
}
@media screen and (min-width: 1024px) {
  .postcard__text {
    padding: 2rem 3.5rem;
  }

  .postcard__text:before {
    content: "";
    position: absolute;
    display: block;

    top: -20%;
    height: 130%;
    width: 55px;
  }

  .postcard.dark {
    .postcard__text:before {
      background: #18151f;
    }
  }
  .postcard.light {
    .postcard__text:before {
      background: #e1e5ea;
    }
  }
}
