.projects__item + .projects__item {
  border-top: 1px solid #015c93;
  margin: 60px 0;
  padding-top: 60px;
}

.project__item__gallery {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 9;
  background: rgba(0, 0, 0, 0.66);
  cursor: pointer;
  transition: all 0.3s ease;

  font-family: swiper-icons;
  font-size: 18px;
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: normal;
  line-height: 1;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.project__item__gallery:hover {
  background: rgba(0, 0, 0, 0.7);
}
.project__item__gallery--prev {
  left: 0;
}
.project__item__gallery--prev:after {
  content: "prev";
}
.project__item__gallery--next {
  right: 0;
}
.project__item__gallery--next:after {
  content: "next";
}
.projects__img:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: all 0.3s ease;
  transition-delay: calc(0.1);
}
